{% extends "bank/base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div id="quiz"
     data-key="{{ key }}" data-title="{{ title }}" data-back="{{ back }}" data-api="{{ api }}"
     data-shuffle="{{ shuffle }}"
     data-check="{% url 'bank:api_check' 0 %}"
     data-save="{% url 'bank:api_save' 0 %}"
     data-comment="{% url 'bank:api_comment' 0 %}"
     data-edit="{% if perms.bank.change_question %}{% url 'bank:question_edit' 0 %}?next={{ request.get_full_path|urlencode }}{% endif %}"
     data-auth="{% if user.is_authenticated %}1{% else %}0{% endif %}"
     data-login="{% url 'bank:login' %}?next={{ request.get_full_path|urlencode }}">
  <p class="mute">Loading…</p>
</div>
{% endblock %}
{% block scripts %}<script src="{% static 'bank/quiz.js' %}"></script>{% endblock %}
